govsso-enduserselfservice:
  session:
    max-idle-time: PT15m
    max-age: PT12h
  govsso-session:
    base-url: https://session.localhost:15443/
    tls:
      trust-store: classpath:enduserselfservice.localhost.session.truststore.p12
      trust-store-password: changeit

management:
  endpoint:
    health:
      probes:
        enabled: true
      show-details: always
      group:
        readiness:
          include:
            - certificates
            - diskSpace
            - govssoSession
            - ignite
            - readinessState
            - tara
  endpoints:
    web:
      exposure:
        include: configprops,env,health,info
  info:
    git:
      mode: full
    java:
      enabled: true
    os:
      enabled: true

server:
  forward-headers-strategy: NONE # Under main this cannot be enabled by default, because docker-compose.yml doesn't have another proxy in front of this application that would always set X-Forwarded-For header. X-Forwarded-For value that could be set outside of your own infrastructure, cannot be trusted.
  port: 25443
  ssl:
    enabled: true
    enabled-protocols: TLSv1.3
    key-store: classpath:enduserselfservice.localhost.keystore.p12
    key-store-password: changeit
    key-store-type: PKCS12
    protocol: TLS
  servlet:
    session:
      cookie:
        name: __Host-SESSION
        same-site: lax
  tomcat:
    accesslog:
      enabled: false
      prefix: localhost_access_log
      suffix: .txt
      max-days: 7 # Would save +1 files in folder for rotation
      rotate: true
      pattern: "%h %l %u %t \"%r\" %s %b \"%{Referer}i\" \"%{User-Agent}i\" %A %p %D \"%{X-Forwarded-For}i\" %{requestId}r"
      encoding: UTF-8
      locale: en

spring:
  application:
    name: govsso-enduserselfservice
  main:
    banner-mode: off
  servlet:
    multipart:
      enabled: false

tara:
  client-id: govsso-enduserselfservice
  client-secret: secret
  issuer-uri: https://tara.localhost:16443
  redirect-uri: https://enduserselfservice.localhost:25443/login/oauth2/code/tara
  trust-store: classpath:enduserselfservice.localhost.tara.truststore.p12
  trust-store-password: changeit

ignite:
  ignite-instance-name: govsso-enduserselfservice-ignite
  metrics-log-frequency: 300000
  system-worker-blocked-timeout: 86400000
  failure-detection-timeout: 86400000
  client-failure-detection-timeout: 86400000
  discovery-spi:
    ip-finder:
      addresses:
        - 127.0.0.1
  ssl-context-factory:
    key-store-type: PKCS12
    key-store-file-path: src/main/resources/enduserselfservice.localhost.keystore.p12
    key-store-password: changeit
    trust-store-type: PKCS12
    trust-store-file-path: src/main/resources/enduserselfservice.localhost.ignite.truststore.p12
    trust-store-password: changeit
    protocol: TLSv1.3
    protocols:
      - TLSv1.3
    cipher-suites:
      - TLS_AES_128_GCM_SHA256
      - TLS_AES_256_GCM_SHA384
      - TLS_CHACHA20_POLY1305_SHA256
