<html layout:decorate="~{fragments/layout}" th:lang="${#locale.language}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>
<th:block layout:fragment="content" th:remove="tag">
    <div class="active-sessions">
        <div class="active-sessions__header">
            <h2 class="active-sessions__title" th:text="#{label.active-sessions.title}"/>
            <!-- TODO: active-sessions__info-button -->
            <button type="button" class="c-btn c-btn--cancel active-sessions__end-all-button"
                    data-function="end-all-sessions" th:if="${!#lists.isEmpty(govssoSessions)}"
                    th:text="#{label.active-sessions.end-all.button}"/>
        </div>
        <div class="active-sessions__list">
            <div class="active-sessions__no_sessions" th:if="${#lists.isEmpty(govssoSessions)}"
                 th:text="#{label.active-sessions.no-sessions}"/>
            <div class="active-sessions__session" th:each="govssoSession: ${govssoSessions}">
                <a href="#" class="c-btn c-btn--from-link active-sessions__session-expand-toggle"
                   data-function="toggle-session-expansion">
                    <i class="icon icon-expand"></i>
                </a>
                <div class="active-sessions__session-data">
                    <div class="active-sessions__session-primary-data">
                        <div class="active-sessions__session-location" translate="no"
                             th:if="${!#lists.isEmpty(govssoSession.ipAddresses)
                                    and govssoSession.ipAddresses.get(0).country != null}">
                            <img class="active-sessions__session-flag" alt="" loading="lazy"/>
                            <span
                                    class="active-sessions__session-location-text"
                                    th:if="${govssoSession.ipAddresses.get(0).country != null}"
                                    th:text="${govssoSession.ipAddresses.get(0).country}"
                                    th:attr="data-country-code=${govssoSession.ipAddresses.get(0).country}">
                             </span>
                        </div>
                        <div class="device-info" translate="no">
                            <img th:if="${govssoSession.os != null}"
                                 th:attr="data-os=${govssoSession.os}"
                                 class="device-info__icon js-os-icon"
                                 alt=""/>

                            <span th:if="${govssoSession.os != null}"
                                  th:text="${govssoSession.os}"></span>

                            <span th:if="${govssoSession.os == null}"
                                  th:text="#{label.active-sessions.other-device-type}"></span>
                        </div>
                        <div translate="no" th:text="${govssoSession.sessionId}"></div>
                        <div class="browser-and-services" translate="no">
                            <span class="browser-info"
                                  th:if="${govssoSession.browser != null}"
                                  th:text="${govssoSession.browser + ', '}"></span>

                            <img th:if="${govssoSession.browser != null}"
                                 th:attr="data-browser=${govssoSession.browser}"
                                 class="browser-info__icon js-browser-icon"
                                 alt=""/>
                            </span>
                            <span th:with="servicesCount=${#lists.size(govssoSession.services)}">
                                <th:block th:if="${servicesCount} == 1"
                                          th:text="#{label.active-sessions.services-count.singular}"/>
                                <th:block th:unless="${servicesCount} == 1"
                                          th:text="#{label.active-sessions.services-count.plural(${servicesCount})}"/>
                            </span>
                        </div>
                        <!-- TODO: Display delta instead of date-time -->
                        <div th:text="#{label.active-sessions.session-start-time(${#prettyDates.dateTime(govssoSession.authenticatedAt)})}"/>
                        <div>
                            <a href="#" class="c-btn c-btn--from-link active-sessions__session-end-button"
                               data-function="end-session" th:data-session-id="${govssoSession.sessionId}">
                                <i class="icon icon-cross"></i>
                                <th:block th:text="#{label.active-sessions.end-session-button}"/>
                            </a>
                        </div>
                    </div>
                    <div class="active-sessions__session-secondary-data">
                        <div class="active-sessions__session-secondary-data-left">
                            <p th:with="ipCount=${#lists.size(govssoSession.ipAddresses)}">
                                <th:block th:if="${ipCount} == 1" th:text="#{label.active-sessions.ip.singular}"/>
                                <th:block th:unless="${ipCount} == 1" th:text="#{label.active-sessions.ip.plural}"/>
                                <span translate="no"
                                      th:text="${#strings.listJoin(govssoSession.ipAddresses.![ipAddress], ', ')}"/>
                            </p>
                            <p>
                                <th:block th:text="#{label.active-sessions.session-id}"/>
                                <span translate="no" th:text="${govssoSession.sessionId}"/>
                            </p>
                        </div>
                        <div class="active-sessions__session-secondary-data-right">
                            <p th:text="#{label.active-sessions.login-time(${#prettyDates.dateTime(govssoSession.authenticatedAt)})}"/>
                            <p th:each="service: ${govssoSession.services}">
                                <strong translate="no" th:text="${service.clientNames.get(#locale.language)}"/>,
                                <th:block
                                        th:text="#{label.active-sessions.service-start-time(${#prettyDates.dateTime(service.authenticatedAt)})}"/>,
                                <th:block th:if="${service.expiresAt.isAfter(service.lastUpdatedAt)}"
                                        th:text="#{label.active-sessions.service-last-active-time(${#prettyDates.dateTime(service.lastUpdatedAt)})}"/>
                                <th:block th:unless="${service.expiresAt.isAfter(service.lastUpdatedAt)}"
                                        th:text="#{label.active-sessions.service-inactive-since-time(${#prettyDates.dateTime(service.expiresAt)})}"/>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/scripts/country-display.js}"></script>
    <script th:src="@{/scripts/device-and-browser-icons.js}"></script>
</th:block>
</body>
</html>
