<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- CSRF Protection -->
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>GovSSO End-User Self-Service</title> <!-- TODO -->
</head>
<body>
    <a href="/oauth2/authorization/tara">Log in</a>
</body>
</html>
