<html layout:decorate="~{fragments/layout}" th:lang="${#locale.language}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>
<th:block layout:fragment="content" th:remove="tag">
    <div class="login-screen">
        <h1 class="login-screen__title" th:text="#{label.index.title}"/>
        <p class="login-screen__description" th:text="#{label.index.description}"/>
        <a class="c-btn c-btn--primary login-screen__login_button" href="/oauth2/authorization/tara"
           th:text="#{label.login.button}"/>
    </div>
</th:block>
</body>
</html>
